# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
.venv/
env/
.env/

# Ignore installed dependencies
/email_classification_env/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE/editor settings
.idea/
.vscode/
.DS_Store

# Ignore log and temp files
logs/
*.log
